header { /*Changes the color of the header to a linear gradient as well as changing the color of the numbers on the navigation*/
  text-align: center;
  background: linear-gradient(45deg, #56ab2f, #a8e063);
  color: white;
}

footer { /*Changes the color of the footer to a linear gradient as well as changing the color of the text on the footer*/
  text-align: center;
  background: linear-gradient(45deg, #2193b0, #6dd5ed);
  color: white;
}


#first { /*Changes the first paragraps text color*/
    color: black;
}

.second { /*Changes the other paragraphs text color*/
    color: orangered;
}

.element { /*Size for navigation as well as putting them horizontally*/
    float: left;
    margin-right: 20px;
}

.clearfix::after { /*Makes sure floated elements are wrapped properly*/
    content: "";
    display: table;
    clear: both;
}

.project-item { /*Project display design*/
    width: 310px; 
    background-color: orangered;
    float: left;
    margin-right: 20px;
    margin-bottom: 16px;
    color: black;
    padding: 16px;
}
/*
@media (condition) {

}
*/

@media (max-width: 600px) {
    body {
        /* font-size: 80px; */
        background-color: lightgreen
    }

    .project-item{
        background-color: purple
    }
}

/*@media (min-width: 650px) {
    body {
        background-color: pink;
    }

} */

/* min-height && max-height */


@media (min-width: 650px) and (max-width: 800px) {
    body {
        background-color: pink;
    }
}

@media (max-width: 400px) {
    .project-item {
        width: 200px;
    }
}


