body {
  background-color: lightgreen; 
  font-size: 16px;
}

.project-item {
  width: 200px; 
  background-color: purple;
}

nav ol {
  display: block;
  text-align: center;
}

.element {
  float: none;
  display: block;
  margin: 10px 0;
}